/* small device */
@media screen and (max-width: 600px) {

  .h2-title{
    font-size: 20px;
   
  }
  .header{
    width: 100%;
  }
  .nav-container{
    width: 90%;
  }
  .nav-container .nav-logo-name {
    flex: 1;
    gap: 6px;
}
.nav-logo{
  position: relative;
  left: 2%;
  bottom: 15%;

}
.nav-container .nav-list-container {
    display: none;
}

.nav-bars-icon {
    display: block;
   
}
.header .nav-container img{
  width: 28.724px;
height: 33.516px;
position: relative;
right: 10px;
}
.header .nav-container .nav-logo-name h3{
  font-weight: 800;
  font-size: 21.543px;
}




  .explore-section {
    margin-top: 18px;
    width: 90%;
  
    height: auto;
    object-position: center;
    margin-bottom: 24px;

  }
  .explore-section .explore {
    padding-top: 32px;
    /* padding-bottom: 48px; */
  }
  .explore-section .explore .find-box {
    display: flex;
    width: 90%;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* margin-top: 22px;
        margin-left-right: 29px; */
    margin: 27px auto;
  }
  /* .explore-section .explore .find-box input{
    width: 49%;
  } */
  .explore-section .explore .find-box .filter{
    width: 100%;
  }
  .explore-section .explore .explore-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: ;
  }
  .explore-section .explore .explore-description {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }
  .primary-btn {
    border-radius: 8px;
    background: #ff5400;
    width: 255px;
    height: 52px;
    padding-left: 75px;
  }
  .explore-section .explore .find-box .filter {
    width: 255px;
    height: 52px;
  }
  .explore-section .explore .find-box .icon1 {
    left: 233px;
    top: 97px;
  }
  .explore-section .explore .find-box .icon2 {
    left: 233px;
    top: 167px;
  }
/* popular section */

  .popular-section {
    width: 89%;
    height: auto;
    margin-top: 0;

    flex-direction: column;
  }
  .popular-section .popular-content {
    width: 100%;
 
  }
  .popular-section .popular-content .popular-title{
    font-size: 20px;
    margin-bottom: 24px;
   
  }
  
  .popular-pic img {
    margin-top: 24px;
    width: 100%;
    height: 342px;
    padding: auto;
  }
  /* destination section */

  .destination-section {
    width: 89%;
    height: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
 
 
  .destination-section .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  .destination-section .grid-container .grid-img-1 .grid-title {
    left: 37%;
  }
  .destination-section .grid-container .grid-img-2 .grid-title {
    left: 37%;
  }
  .destination-section .grid-container .grid-img-3 .grid-title {
    top: 47%;
    left: 37%;
  }
  .destination-section .grid-container .grid-img-4 .grid-title {
    left: 28%;
    top: 42%;
  }
  .destination-section .grid-container .grid-img-5 .grid-title {
    top: 45%;
    left: 37%;
  }
  .destination-section .grid-container .grid-img-6 .grid-title {
    left: 32%;
    top: 45%;
  }
  .destination-section .grid-container .grid-img-7 .grid-title {
    top: 37%;
    left: 33%;
  }

/* winter bonous section  */
.winter-section{
  margin-bottom: 48px;
}
.winter-section .winter-container{
  flex-direction: column;
}
.winter-section .winter-img{
  padding-bottom: 10px;
}
.winter-section .winter-img img{
  width: 100%;

}
.winter-section .winter-h2{
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}
.winter-section .winter-content .winter-title{
  font-size: large;
}

  /* choose section */
  .choose-section{
    /* margin-top: 24px; */
    width: 89%;
    height: auto;
  }
  .choose-section .choose-box{
    flex-direction: column;
  }
  .choose-section .choose-box .box1{
    width: 100%;
    height: 289px;
    padding-left: 2px;
    padding-top: 2px;
  }
  .choose-section .choose-box .box2{
    width: 100%;
    height: 289px;
    padding-left: 2px;
    padding-top: 2px;
  }
  .choose-section .box3{
    width: 100%;
    height: 289px;
    padding-left: 2px;
    padding-top: 2px;
  }
  .choose-section .choose-content .h2-title{
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
  }




/* newsletter section */


.newsletter-section{
  width: 89%;
  height: 380px;
  flex-direction: column;
  margin-top: 24px;
  /* margin-bottom: 24px; */

}
.newsletter-section .subscribe-container{
  width: 100%;

/* padding-left: 72px; */
padding: 10px;
}
.newsletter-section .subscribe-container .name-input{
  width: 100%;

}

.newsletter-section .subscribe-container .email-input{
  width: 100%;

}
.newsletter-section .subscribe-container .subscribe-btn{
  width: 100%;

}
.newsletter-section .subscribe-container hr{
  width: 100%;
}

.newsletter-section .newsletter-img{
  width: 100%;
  height: auto;
  position: relative;

 
}
.newsletter-section .newsletter-img .newsletter-offer{
position: absolute;
width: 50%;
height: 20%;
padding-top: 2%;
left: 47%;
top: 70%;
transform: rotate(-30deg);
}
.newsletter-section .newsletter-img img{
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
}
.newsletter-section .newsletter-img .offer-h3{
  font-weight: 400;
  font-size: 13px;
  /* margin-top: 2%; */
}
.newsletter-section .newsletter-img .offer-h2{
  font-weight: 800;
  font-size: 18px;
 
}

.newsletter-section .subscribe-container{
  padding: 10px;
}


  /* footer section */
  .footer-section{
  width: 100%;
/* margin-top: 30px; */
margin-top:340px;
height: 309px;


  }
  .footer-section{
    width: 100%;
  height: auto;
  margin-bottom: 0;
  padding: 0;
  margin-top: ;
  }
  .footer-section .footer-container{
    width: 89%;
 
  }
  .footer-section .footer-container .footer-content{padding-top: 33px;}
  .footer-section .footer-container .footer-content .footer-title{
    font-weight: 800;
    font-size: 22px;
  }
  .footer-section .footer-container .footer-content p{
    padding-bottom: 15px;
  }
  .footer-section .footer-container .footer-icon{
    padding-bottom: 20px;
  }
  .footer-section .footer-container .footer-reserved{padding-top: 20px;
  padding-bottom: 20px;}
  .choose-section .choose-content .box-title{
    font-size: 20px;
  }
  .primary-description{
    font-size: 14px;
  }
  .footer-section .footer-container .footer-content img{
  
width: 28.724px;
height: 33.516px;
top: 10px;
right: 10px;
  }

}
